/* Colors:  1
$primary-d1: #172BC4;
$primary-m1: #336DFF;
$primary-brand: #1F39FF;
$primary-l1: #3D84FF;
$gray-d2: #181C24;
$gray-d1: #535965;
$gray-m1: #91959C;
$gray-l2: #B5B7BC;
$gray-l1: #E5E5E7;
$white: #FFFFFF;
$positive-2: #12805C;
$positive-1: #268E6C;
$negative-2: #C9252D;
$negative-1: #D7373F; */
/* Font/text values */
/* Character Styles */
.banner {
  background: #e5e5e7;
  display: flex;
}
.banner .banner__container {
  max-width: 1536px;
  padding: 0px 60px;
}
.banner .banner__container .banner__content {
  padding: 161px 197px 50px 91px;
  margin: 0 auto;
}
.banner .banner__container .banner__content .banner__text {
  display: contents;
  flex-grow: 1;
}
.banner .banner__container .banner__content .banner__text .banner__title {
  font: normal normal 600 48px Source Serif Pro;
  letter-spacing: 0px;
  color: #172026;
  text-align: left;
  opacity: 1;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}
.banner .banner__container .banner__content .banner__text .banner__info {
  font: normal normal normal 16px Muli;
  letter-spacing: 0px;
  color: #172026;
  text-align: left;
  opacity: 1;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.banner .banner__container .banner__content .banner__text .banner__btn {
  display: flex;
  border: 1px solid #E26A2C;
  outline: 0;
  display: inline-block;
  padding: 13px 56px 13px 51px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #E26A2C;
  text-align: left;
  cursor: pointer;
}
.banner .banner__wrapper {
  width: -webkit-fill-available;
  height: 650px;
  overflow: hidden;
}
.banner .banner__wrapper img {
  float: left;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .banner .banner__container .banner__content {
    padding: 161px 0px 50px 0px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .banner .banner__container .banner__content {
    padding: 161px 20px 50px 20px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .banner .banner__container .banner__content {
    padding: 161px 40px 50px 40px;
  }
}
@media screen and (max-width: 1536px) and (min-width: 1441px) {
  .banner .banner__container .banner__content .banner__text .banner__title {
    padding: 0px 0px 0px 0px !important;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .banner .banner__container .banner__content .banner__text .banner__title {
    padding: 0px 80px 0px 0px;
  }
}

.phone_banner {
  display: grid;
  height: calc(250px + 25vmin);
}
.phone_banner > * {
  grid-area: 1/-1;
}
.phone_banner img {
  width: 100%;
  height: 100%;
  min-height: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.phone_banner:after {
  content: "";
  background-color: #000;
  opacity: 0.5;
  grid-area: 1/-1;
}

.phone_banner__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(72, 67, 65, 0), rgba(255, 255, 255, 0.55));
  margin-top: 50px;
}
.phone_banner__content h2 {
  font: normal normal 600 36px Source Serif Pro;
  letter-spacing: 0px;
  text-align: center;
  color: #1B252C;
  opacity: 1;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
.phone_banner__content p {
  font: normal normal normal 16px Muli;
  text-align: center;
  letter-spacing: 0.32px;
  color: #1B252C;
  opacity: 1;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.phone_banner__content .banner__btn {
  display: flex;
  border: 1px solid #E26A2C;
  outline: 0;
  display: inline-block;
  padding: 13px 56px 13px 51px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #E26A2C;
  text-align: left;
  cursor: pointer;
}
.phone_banner__content .dot-container {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}
.phone_banner__content .dot-container .dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 10px;
}
.phone_banner__content .dot-container .dot-container .active, .phone_banner__content .dot-container .dot:hover {
  background-color: #717171;
}/*# sourceMappingURL=banner.css.map */