/* Colors:  1
$primary-d1: #172BC4;
$primary-m1: #336DFF;
$primary-brand: #1F39FF;
$primary-l1: #3D84FF;
$gray-d2: #181C24;
$gray-d1: #535965;
$gray-m1: #91959C;
$gray-l2: #B5B7BC;
$gray-l1: #E5E5E7;
$white: #FFFFFF;
$positive-2: #12805C;
$positive-1: #268E6C;
$negative-2: #C9252D;
$negative-1: #D7373F; */
/* Font/text values */
/* Character Styles */
.secondBanner {
  display: flex;
}
.secondBanner .row {
  margin: 16px 0px 32px 0px;
}
.secondBanner .secondBanner__container .secondBanner__content {
  padding: 47px 47px 56px 0px;
  margin: 0 auto;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text {
  display: contents;
  flex-grow: 1;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__title {
  font: normal normal 600 48px Source Serif Pro;
  letter-spacing: 0px;
  color: #172026;
  text-align: left;
  opacity: 1;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__sub_title {
  font: normal normal 600 20px Muli;
  letter-spacing: 0px;
  color: #172026;
  text-align: left;
  opacity: 1;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__info {
  font: normal normal normal 16px Muli;
  letter-spacing: 0px;
  color: #172026;
  text-align: left;
  opacity: 1;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .secondBanner__btn {
  display: flex;
  outline: 0;
  display: inline-block;
  padding: 13px 56px 13px 51px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .opp-org {
  border: 1px solid #E26A2C;
  color: #E26A2C;
  background-color: #FFFFFF;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .org {
  border: 1px solid #E26A2C;
  color: #FFFFFF;
  background-color: #E26A2C;
}
.secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__line {
  border-top: 8px solid #E26A2C;
  width: 26%;
  margin: 56px 0px 0px 0px;
}
.secondBanner .secondBanner__wrapper {
  width: -webkit-fill-available;
  height: 450px;
  overflow: hidden;
}
.secondBanner .secondBanner__wrapper img {
  float: left;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 426px) and (min-width: 320px) {
  .secondBanner .secondBanner__container .secondBanner__content {
    padding: 16px 15px 0px 15px;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper {
    flex-direction: column-reverse !important;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .secondBanner__btn {
    padding: 11px 44px 11px 45px;
    text-align: center;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .secondBanner__btn.opp-org {
    margin: 16px 0px 16px 0px;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__line {
    margin: 16px auto;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .mr-rt-32 {
    margin-right: 0px !important;
  }
  .secondBanner .secondBanner__wrapper {
    height: 312px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .secondBanner .container {
    padding: 0 15px;
    width: 100%;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text {
    text-align: center;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__title {
    font: normal normal 600 36px Source Serif Pro;
    text-align: center;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__sub_title {
    font: normal normal 600 16px Muli;
    text-align: center;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__info {
    font: normal normal normal 14px Muli;
    text-align: center;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 74%;
    margin: auto;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__line {
    margin: 32px auto;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__title {
    font: normal normal 600 36px Source Serif Pro;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__sub_title {
    font: normal normal 600 16px Muli;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__info {
    font: normal normal normal 14px Muli;
  }
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .opp-org {
    margin: 0px 32px 24px 0px;
  }
}
@media screen and (max-width: 1340px) and (min-width: 1025px) {
  .secondBanner .secondBanner__container .secondBanner__content .secondBanner__text .secondBanner__btn_wrapper .opp-org {
    margin: 0px 32px 24px 0px;
  }
}/*# sourceMappingURL=secondBanner.css.map */